{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Déposer Mon Annonce</h1>

                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        {{ form_start(form) }}
                        <div class="box clearfix">
                            <div class="heading">
                                <h3 class="text-uppercase">Annonce details</h3>
                            </div>
                            <form class="form-control">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ form_row(form.titre) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ form_row(form.type) }}
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.adresse) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.piece) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group date">
                                            {{ form_row(form.etat) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">

                                            {{ form_row(form.equipement) }}
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.surface) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        {{ form_row(form.region ) }}
                                    </div>

                                    <div class="col-sm-3 ">
                                        {{ form_row(form.photo ) }}
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 ">

                                        {{ form_row(form.dateDisp ) }}
                                    </div>

                                    <div class="col-sm-4 ">
                                        {{ form_row(form.datePublication ) }}
                                    </div>
                                    <div class="col-sm-4 ">
                                        {{ form_row(form.prix ) }}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ form_row(form.description ) }}
                                </div>
                                <div>
                                    <div class="col-sm-13 text-center">
                                        <input type="submit" class=" btn btn-template-main" value="Create" />

                                    </div>

                                </div>
                                {{ form_end(form) }}
                            </form>

                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- /#content -->
{% endblock %}
