{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="row">

                    <div class="navbar-buttons">

                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">
                    <a class="nav navbar-nav navbar-left" href="#">
                        <img src="{{asset("img/colocation.jpg")}}" alt="Colocation logo" style="width:30%;" class="hidden-xs hidden-sm">
                    </a>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown use-yamm yamm-fw">
                            <a href="{{ path('location_new') }}">Déposer une annonce</a>


                        </li>
                        <li class="">
                        <a href="{{ path('location_index') }}">Back to the list</a>
                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout')}}" class="" >se déconnecter</a>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <!-- /#navbar -->
            </div>
            <!-- *** NAVBAR END *** -->
        </div>
    </header>

{% endblock %}
{% block body %}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 >Modifier Annonce</h1>

            </div>
            <div class="col-md-5">


            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    {{ form_start(edit_form) }}
                    <div class="box clearfix">
                        <div class="heading">
                            <h3 class="text-uppercase">Annonce details</h3>
                        </div>
                        <form class="form-control">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(edit_form.titre) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(edit_form.type) }}
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_row(edit_form.adresse) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_row(edit_form.piece) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group date">
                                        {{ form_row(edit_form.etat) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">

                                        {{ form_row(edit_form.equipement) }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_row(edit_form.surface) }}
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    {{ form_row(edit_form.region ) }}
                                </div>

                                <div class="col-sm-3 ">
                                    {{ form_row(edit_form.photo ) }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4 ">

                                    {{ form_row(edit_form.dateDisp ) }}
                                </div>

                                {#<div class="col-sm-4 ">#}
                                    {#{{ form_row(edit_form.datePublication ) }}#}
                                {#</div>#}
                                <div class="col-sm-4 ">
                                    {{ form_row(edit_form.prix ) }}
                                </div>
                            </div>
                            <div class="row">
                                {{ form_row(edit_form.description ) }}
                            </div>
                            <div>
                                <div class="col-sm-13 text-center">
                                    <input type="submit" class=" btn btn-template-main" value="Edit" />

                                </div>

                            </div>
                            {{ form_end(edit_form) }}
                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}