{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="row">

                    <div class="navbar-buttons">

                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">
                    <a class="nav navbar-nav navbar-left" href="#">
                        <img src="{{asset("img/colocation.jpg")}}" alt="Colocation logo" style="width:30%;" class="hidden-xs hidden-sm">
                    </a>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown use-yamm yamm-fw">
                            <a href="{{ path('location_new') }}">Déposer une annonce</a>


                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout')}}" class="" >se déconnecter</a>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <!-- /#navbar -->
            </div>
            <!-- *** NAVBAR END *** -->
        </div>
    </header>

{% endblock %}
{% block body %}
    <!-- *** LEFT COLUMN ***
_________________________________________________________ -->
<div id="content">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Mes annonces</h1>
                </div>

            </div>
        </div>
    </div>
    <div class="container ">
        <div class=" ">
        <div class="col-md-9">
        <div class="row products ">

            {% for location in locations %}
                {%if location.user.id == user  %}

                    <div class="col-md-4 col-sm-6">
                        <div class="product">
                            <div class="image">
                                <img src="{{ asset('uploads/annonce/'~ location.photo ) }}"class="img-responsive image1">
                            </div>
                            <!-- /.image -->
                            <div class="ribbon sale">
                                <div class="theribbon" style="width: max-content">{{ location.type }}</div>
                                <div class="ribbon-background"></div>
                            </div>

                            {#<div class="ribbon new">#}
                                {#<div class="theribbon " style="width: max-content">{{ location.region }}</div>#}
                                {#<div class="ribbon-background"><p style="color: white; text-align: center">{{ location.type }}</p></div>#}
                            {#</div>#}
                            <div class="text">
                                <h6>{{ location.titre }}</h6>
                                <p>{{ location.type }} - {{ location.etat }}</p>
                                <p>{{ location.equipement }}- {{ location.piece }} piéce/s</p>
                            <a class="btn btn-default" href="{{ path('location_edit', { 'location': location.id }) }}">Modifier</a>
                            <a  class="btn btn-template-main" href="{{ path('location_delete', { 'location': location.id }) }}">Supprimer</a>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            {% endif %}
            {% endfor %}

            {# display navigation #}

        </div>

    </div>

        </div>

        <!-- *** RIGHT COLUMN ***
_________________________________________________________ -->

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Mon section</h3>
                </div>
                {% if  is_granted('ROLE_ETUDIANT') %}
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                        </li>
                        <li>
                            <a href="{{ path('listfavoris')}}"><i class="fa fa-heart"></i> Mes favoris</a>
                        </li>
                        <li>
                            {#<a href=""><i class="fa fa-user"></i> Mon profile</a>#}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('editetd', { 'user': user }) }}">
                                <i class="fa fa-user"></i>  profile : {{ app.user.username }}
                            </a>
                        </li>
                        {% endif %}
                        </li>
                        <li>
                            <a href="{{ path('location_search')}}"><i class="fa fa-search"></i> Les annonces</a>
                        </li>

                    </ul>
                </div>
       {% endif %}
                {% if  is_granted('ROLE_PARTICULIER') %}
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('editparti', { 'user': user }) }}">
                                        <i class="fa fa-user"></i>  profile : {{ app.user.username }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                {% if  is_granted('ROLE_PROFESSIONNEL') %}
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('editpro', { 'user': user }) }}">
                                        <i class="fa fa-user"></i>  profile : {{ app.user.username }}
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- /.col-md-3 -->

            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <!-- *** RIGHT COLUMN END *** -->
    </div>
</div>
{% endblock %}
