{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="row">

                    <div class="navbar-buttons">

                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">
                    <a class="nav navbar-nav navbar-left" href="#">
                        <img src="{{asset("img/colocation.jpg")}}" alt="Colocation logo" style="width:30%;" class="hidden-xs hidden-sm">
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="{{ path('location_new') }}">Déposer une annonce</a>


                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout')}}" class="" >se déconnecter</a>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <!-- /#navbar -->
            </div>
            <!-- *** NAVBAR END *** -->
        </div>
    </header>

{% endblock %}
{% block body %}
    <div id="content">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                    <form class="form-inline" method="POST">
                        <div class="form-group">
                        <select  id="type" class="form-control input-group-lg reg_name bg-fuchsia-active" name="type">
                            <option value="" disabled selected>Choisir le type</option>
                            <option value="Colocation">Colocation </option>
                            <option value="Studio">Studio</option>
                            <option value="Appartement">Appartement</option>
                            <option value="Maison">Maison</option>
                        </select>
                        </div>
                        <div class="form-group">
                        <input id="prix" class="form-control input-group-lg reg_name" type="text" name="prix" placeholder="Budget maximal">
                        </div>
                        <div class="form-group">
                        <select id="equipement" class="form-control input-group-lg reg_name"  type="text" name="equipement">

                            <option value="" disabled selected>Meublé ou non!</option>
                            <option value="non meublé">non meublé </option>
                            <option value="meublé">meublé </option>

                        </select>
                        </div>
                        <div class="form-group">
                            <select id="piece" class="form-control input-group-lg reg_name" type="text" name="piece">
                                <option value="" disabled selected>Nombre de piéces</option>
                                <option value="S+0">S+0 </option>
                                <option value="S+1">S+1 </option>
                                <option value="S+2">S+2</option>
                                <option value="S+3">S+3</option>
                                <option value="S+4 ou plus">S+4 ou plus</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select  id="Region" class="form-control input-group-lg reg_name" name="region">
                                <option value="" disabled selected>Choisir la région</option>
                            <option value="Ariana">Ariana </option>
                            <option value="Béja">Béja</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gabès">Gabès</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kébili">Kébili</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-info" type="submit" name="submit" value="Trouver un logement">
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container ">
        <div class="">
            <div class="col-md-9">
                <div class="row products ">

                    {% for location in locations %}

                        {% set x=0 %}
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="image">
                                    <img src="{{ asset('uploads/annonce/'~ location.photo ) }}"class="img-responsive image1">
                                </div>
                                <!-- /.image -->
                                <div class="ribbon sale">
                                    <div class="theribbon" style="width: max-content">{{ location.type }}</div>
                                    <div class="ribbon-background"></div>
                                </div>

                                <div class="text">
                                    <h6>{{ location.titre }}</h6>
                                    <p>{{ location.type }} - {{ location.etat }}</p>
                                    <p>{{ location.equipement }}- {{ location.piece }} piéce/s</p>


                                    <a class="btn btn-default" href="{{ path('location_show', { 'location': location.id }) }}">Voir Annonce</a>
                                    {% if favoris %}



                                    {% for favori in favoris %}
                                        {% if favori.user ==app.user.id %}
                                     {% if ((favori.annonce == location.id) ) %}


                                         {% set x=1 %}
                                       {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                        {% if x==0 %}
                                            <a  class="fa fa-heart red" href="{{ path('addfavoris', { 'location': location.id }) }}"></a>

                                        {% endif %}

                                    {% else %}
                                    <a  class="fa fa-heart red" href="{{ path('addfavoris', { 'location': location.id }) }}"></a>
                                    {% endif %}


                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>

                    {% endfor %}
                </div>
                <div class="navigation text-center">
                    {{ knp_pagination_render(locations) }}
                </div>
            </div>
        </div>
            <!-- *** RIGHT COLUMN ***
_________________________________________________________ -->

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Mon section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li >
                                <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                            </li>
                            <li>
                                <a href="{{ path('listfavoris')}}"><i class="fa fa-heart"></i> Mes favoris</a>
                            </li>
                            <li>
                                {#<a href=""><i class="fa fa-user"></i> Mon profile</a>#}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if is_granted("ROLE_ETUDIANT") %}
                            <li><a href="{{ path('editetd', { 'user': app.user.id }) }}">
                                    <i class="fa fa-user"></i>  profile : {{ app.user.username }}
                                </a>
                            </li>
                            {% endif %}

                            {% endif %}
                            <li class="active">
                                <a href="{{ path('location_search')}}"><i class="fa fa-search"></i> Les annonces</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <!-- *** RIGHT COLUMN END *** -->
        </div>
    </div>
    </div>
{% endblock %}