{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="row">

                    <div class="navbar-buttons">

                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
                                data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">
                    <a class="nav navbar-nav navbar-left" href="#">
                        <img src="{{ asset("img/colocation.jpg") }}" alt="Colocation logo" style="width:30%;"
                             class="hidden-xs hidden-sm">
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Acceuil <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#numberone">CHOISIR LE GROUPE N°1 DU LOGEMENT ÉTUDIANT
                                    </a>
                                </li>
                                <li><a href="#numbertwo"> LES BONNES RAISONS DE LOUER AVEC NOUS
                                    </a>
                                </li>
                                <li><a href="#numberthree">ILS PARLENT DE NOUS </a>
                                </li>
                                <li><a href="#numberfour">NOTRE EQUIPE</a>
                            </ul>
                        </li>
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="{{ path('location_new') }}">Déposer une annonce</a>


                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout') }}" class="">se déconnecter</a>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <!-- /#navbar -->
            </div>
            <!-- *** NAVBAR END *** -->
        </div>
    </header>

{% endblock %}
{% block body %}
    <div id="content">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">

                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="">
                <div class="col-md-9">
                    <blockquote>
                        <p class="lead" style="text-align: justify; font-size: 1em; line-height: 1.3em;">
                            <em>{{ location.description }}.</em></p>
                    </blockquote>
                    <h3>{{ location.titre }}</h3>

                    <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll for more
                            details
                        </a>
                    </p>

                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <p style="color: #38a7bb">Publié le {% if location.datePublication %}{{ location.datePublication|date('m/d/Y') }}{% endif %}</p>

                            <div id="image">
                                <img src="{{ asset('uploads/annonce/'~ location.photo ) }}"
                                     class="img-responsive image1">
                            </div>

                            <div class="ribbon new">
                                <div class="theribbon " style="width: max-content">{{ location.prix }} Dt</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">

                                <form>
                                    <div class="sizes">


                                    </div>

                                    <p class="price"> </p>

                                    <h5>{{ location.user.nom }} {{ location.user.prenom }}</h5><br>
                                    <h5>{{ location.user.telephone }}</h5> <br>
                                    <h5> {{ location.user.email }}</h5><br>
                                   <h5> {{ location.user.ecole }}<br></h5>
                                   <h5>{{ location.user.adresse }}</h5>









                                    <p class="text-center">
                                        <button type="submit" class="btn btn-template-main"><i
                                                    class="fa fa-heart-o"></i> Ajouter au favoris
                                        </button>

                                    </p>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="box" id="details">
                        <p>
                        <table class="table">
                            <h4>Descriptif général</h4>
                            <tr>
                                <td><i class="fa fa-bed" aria-hidden="true"></i>TYPE DE LOGEMENt</td>
                                <td>ÉTAT</td>
                                <td>Piéce</td>
                                <td>SURFACE</td>
                                <td><i class="fa fa-asterisk" aria-hidden="true"></i>Equipement</td>
                                <td><i class="fa fa-calendar" aria-hidden="true"></i>
                                    disponible
                                </td>
                                <td><i class="fa fa-home" aria-hidden="true"></i>Adresse</td>
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i>Région</td>

                            </tr>

                            <tr>
                                <td>{{ location.type }}</td>
                                <td>{{ location.etat }}</td>
                                <td>{{ location.piece }} piéces</td>
                                <td>à partir de {{ location.surface }} m²</td>
                                <td>{{ location.equipement }}</td>
                                <td>{% if location.dateDisp %} à partir de {{ location.dateDisp|date('m/d/Y') }}{% endif %}</td>
                                <td>{{ location.adresse }}</td>
                                <td>{{ location.region }}</td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->


            <!-- *** RIGHT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Mon section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ path('location_index') }}"><i class="fa fa-list"></i> Mes annonces</a>
                            </li>
                            <li>
                                <a href="{{ path('listfavoris')}}"><i class="fa fa-heart"></i> Mes favoris</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon profile</a>
                            </li>
                            <li class="active">
                                <a href="{{ path('location_search') }}"><i class="fa fa-search"></i> Les annonces </a>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <!-- *** RIGHT COLUMN END *** -->
        </div>
    </div>
    </div>
{% endblock %}