{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

            <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                <div class="row">

                    <div class="navbar-buttons">

                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">
                    <a class="nav navbar-nav navbar-left" href="#">
                        <img src="{{asset("img/colocation.jpg")}}" alt="Colocation logo" style="width:30%;" class="hidden-xs hidden-sm">
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Acceuil <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#numberone">CHOISIR LE GROUPE N°1 DU LOGEMENT ÉTUDIANT
                                    </a>
                                </li>
                                <li><a href="#numbertwo"> LES BONNES RAISONS DE LOUER AVEC NOUS
                                    </a>
                                </li>
                                <li><a href="#numberthree">ILS PARLENT DE NOUS </a>
                                </li>
                                <li><a href="#numberfour">NOTRE EQUIPE</a>
                            </ul>
                        </li>
                        <li class="dropdown use-yamm yamm-fw">
                            <a href="{{ path('location_new') }}">Déposer une annonce</a>


                        </li>
                        <li class="">
                            <a href="{{ path('fos_user_security_logout')}}" class="" >se déconnecter</a>
                        </li>
                        <!-- ========== FULL WIDTH MEGAMENU ================== -->
                    </ul>
                </div>
                <!--/.nav-collapse -->

                <!-- /#navbar -->
            </div>
            <!-- *** NAVBAR END *** -->
        </div>
    </header>

{% endblock %}
{% block body %}
    <!-- *** LEFT COLUMN ***
_________________________________________________________ -->
    <div id="content">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Mes Favoris</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="container ">
            <div class=" ">
                <div class="col-md-9">
                    <div class="row products ">

                        {% for favori in favoris %}
                            {%if favori.user == user  %}
                                {% for location in locations %}
                                    {%if favori.annonce == location.id  %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product">
                                                <div class="image">
                                                    <img src="{{ asset('uploads/annonce/'~ location.photo ) }}"class="img-responsive image1">
                                                </div>
                                                <!-- /.image -->
                                                <div class="ribbon sale">
                                                    <div class="theribbon" style="width: max-content">{{ location.prix }}T.n.d</div>
                                                    <div class="ribbon-background"></div>
                                                </div>

                                                <div class="ribbon new">
                                                    <div class="theribbon " style="width: max-content">{{ location.region }}</div>
                                                    <div class="ribbon-background"></div>
                                                </div>
                                                <div class="text">
                                                    <h3>{{ location.titre }}</h3>
                                                    <p>{{ location.type }} - {{ location.etat }}</p>
                                                    <p>{{ location.equipement }}- {{ location.piece }} piéce/s</p>
                                                    <a  class="fa fa-remove" href="{{ path('deletefavoris', { 'favoris': favori.id }) }}"></a>




                                                </div>
                                                <!-- /.text -->
                                            </div>
                                            <!-- /.product -->
                                        </div>


                                    {% endif %}
                                {% endfor %}


                            {% endif %}
                        {% endfor %}

                        {# display navigation #}

                    </div>

                </div>

            </div>
            <!-- *** RIGHT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Mon section</h3>
                    </div>
                    {% if  is_granted('ROLE_ETUDIANT') %}
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                                </li>
                                <li>
                                    <a href="{{ path('listfavoris')}}"><i class="fa fa-heart"></i> Mes favoris</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon profile</a>
                                </li>
                                <li>
                                    <a href="{{ path('location_search')}}"><i class="fa fa-search"></i> Rechercher une Co/Location</a>
                                </li>

                            </ul>
                        </div>
                    {% endif %}
                    {% if  is_granted('ROLE_PARTICULIER') %}
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-user"></i> Mon profile</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    {% if  is_granted('ROLE_PRO') %}
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="{{ path('location_index')}}"><i class="fa fa-list"></i> Mes annonces</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-user"></i> Mon profile</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <!-- *** RIGHT COLUMN END *** -->
        </div>
    </div>
{% endblock %}

