{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h2>Inscription Particulier</h2>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_start(form, {'method': 'post', 'action': path('addPrt'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}

{% endblock %}